<div class="main-container">
  <div class="index_container">
    <h1>投稿一覧</h1>
    <%= link_to '新規投稿', new_feed_path %>
    <% @feeds.each do |feed| %>
      <div class="feed">
        <div class="feed-top">
          <%= feed.user.name %>
          <div class="btn-group dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              menu
            </button>
          <div class="dropdown-menu">
              <p class="dropdown-item"><%= link_to '詳細を確認する', feed, class:"dropdown-item"%></p>
              <p class="dropdown-item"><%= link_to '投稿を編集する', edit_feed_path(feed), class:"dropdown-item" %></p>
              <p class="dropdown-item"><%= link_to '投稿を削除する', feed, method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %></p>
            </div>
          </div>
        </div>
        <p id="content"><%= feed.content %></p>
        <p id="image"><%= image_tag feed.image.url %></p>

      </div>
    <% end %>
  </div>
</div>
