<p>
  <p><strong>投稿者:<%= @feed.user.name %></strong></p>
  <p><strong>本文：<%= @feed.content %></strong></p>
  <p><strong>Image:</strong></p>
    <%= image_tag @feed.image.url %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
